@font-face {
	font-family: IBMRegular;
	src: url("~/assets/fonts/IBMPlexMono-Regular.ttf");
}
@font-face {
	font-family: IBMLight;
	src: url("~/assets/fonts/IBMPlexMono-Light.ttf");
}
@font-face {
	font-family: IBMBold;
	src: url("~/assets/fonts/IBMPlexMono-Bold.ttf");
}
body{
	overflow: hidden;
  margin: 0;
}
h1 {
  margin: 0;
  margin-top: 20px;
  font-family: IBMLight,'Courier New', Courier, monospace;
  font-weight: initial;
  color: rgb(0,255,0);
  font-size: 1vw;
  display: block;
}
h2 {
  margin: 0;
  margin-top: 20px;
  font-family: IBMLight,'Courier New', Courier, monospace;
  font-weight: initial;
  color: rgb(180,180,180);
  font-size: 1vw;
  display: block;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
h3 {
  font-family: IBMLight,'Courier New', Courier, monospace;
  color: rgb(0,255,0);
  font-weight: initial;
  font-size: 1vw;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
p {
  font-family: IBMLight,'Courier New', Courier, monospace;
  color: rgb(180,180,180);
  font-size: 1vw;
  display: inline;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
a {
  font-family: IBMLight,'Courier New', Courier, monospace;
  color: rgb(0,255,0);
  font-size: 1vw;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
pre {
  font-family: IBMLight,'Courier New', Courier, monospace;
  color: rgb(180,180,180);
  font-size: 1vw;
  width: fit-content;
}
@media (max-width: 600px) {
  a,p,pre {
    font-size: 1.9vw;
  }
  h1,h2,h3 {
    font-size: 3vw;
    margin-top: 10px;
  }
}