@font-face {
	font-family: WerkBold;
	src: url("~/assets/fonts/WerkNeue-Bold.woff");
}
@font-face {
	font-family: WerkExtraBold;
	src: url("~/assets/fonts/WerkNeue-ExtraBold.woff");
}
@font-face {
	font-family: WerkHeavy;
	src: url("~/assets/fonts/WerkNeue-Heavy.woff");
}
@font-face {
	font-family: WerkLight;
	src: url("~/assets/fonts/WerkNeue-Light.woff");
}
@font-face {
	font-family: WerkMedium;
	src: url("~/assets/fonts/WerkNeue-Medium.woff");
}
@font-face {
	font-family: Werk;
	src: url("~/assets/fonts/WerkNeue-Regular.woff");
}
@font-face {
	font-family: Plex;
	src: url("~/assets/fonts/IBMPlexMono-Regular.ttf");
}
@font-face {
	font-family: PlexLight;
	src: url("~/assets/fonts/IBMPlexMono-Light.ttf");
}
@font-face {
	font-family: PlexMedium;
	src: url("~/assets/fonts/IBMPlexMono-Medium.ttf");
}
@media (max-width: 600px) {
}
@media (min-width: 600px) and (max-width: 1200px) {
}
body {
	overflow-x: hidden;
}
h1 {
	font-family: Werk;
	font-size: 4vw;
	margin: 0;
	display:inline-block; 
	transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
	&:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
h3 {
	font-family: Plex;
	font-size: 1.5vw;
	display: inline;
	margin: 0;
	transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
	&:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
h4 {
	font-family: Werk;
	font-size: 1.5vw;
	display: inline;
	margin: 0;
	transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
	&:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
h5 {
	font-family: Werk;
	font-size: 1.5vw;
	color: rgb(0,255,0);
	margin: 0;
	transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
	&:hover {
		cursor: pointer;
		filter: blur(0.4rem);
	}
}
h6 {
	font-family: Werk;
	font-size: 2vw;
	margin: 0;
	display:inline-block; 
	transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
	&:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}