body{
	overflow: hidden;
  margin: 0;
}
h1 {
  display: inline;
  font-size: 12pt;
  font-family: monospace;
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 18pt;
  -webkit-text-stroke: 0.4pt rgb(0,255,0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
h2 {
  display: inline-block;
  font-size: 12pt;
  font-family: monospace;
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 18pt;
  overflow-wrap: anywhere;
  width: fit-content;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
h3 {
  display: inline;
  font-size: 12pt;
  font-family: monospace;
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 18pt;
  overflow-wrap: anywhere;
}
a {
  display: inline;
  font-size: 12pt;
  font-family: monospace;
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 18pt;
  font-style: italic;
  overflow-wrap: anywhere;
  color: rgb(0,255,0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
		cursor: pointer;
		filter: blur(0.4rem);
		color: rgb(0,255,0);
	}
}
p {
  display: inline;
  font-size: 12pt;
  font-family: monospace;
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 18pt;
}
@media (max-width: 600px) {
}